# EDA to format the datetime columns

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import datetime

In [2]:
df = pd.read_csv("../../data/trends/USvideos.csv")
df.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...

In [3]:
# pd.to_datetime(df["trending_date"], infer_datetime_format=True).head()
pd.to_datetime(df["trending_date"], format="%y.%d.%m").unique()[:5]

array(['2017-11-14T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
       '2017-11-18T00:00:00.000000000'], dtype='datetime64[ns]')

In [4]:
df["trend_day"] = pd.to_datetime(df["trending_date"], format="%y.%d.%m")
df_view = pd.DataFrame(df["trend_day"].unique())
df_view.sort_values(0, ascending=False).head(3)

             0
204 2018-06-14
203 2018-06-13
202 2018-06-12

In [5]:
df_view.sort_values(0, ascending=True).head(3)

           0
0 2017-11-14
1 2017-11-15
2 2017-11-16

In [6]:
# pd.to_datetime(df["publish_time"], infer_datetime_format=True).unique()[:5]
pd.to_datetime(df["publish_time"]).unique()[:5]

<DatetimeArray>
['2017-11-13 17:13:01+00:00', '2017-11-13 07:30:00+00:00',
 '2017-11-12 19:05:24+00:00', '2017-11-13 11:00:04+00:00',
 '2017-11-12 18:01:41+00:00']
Length: 5, dtype: datetime64[ns, UTC]

In [7]:
df["publish_time"].dtype

dtype('O')

In [8]:
df["trend_day"].dtype

dtype('<M8[ns]')

In [9]:
df["post_time"] = pd.to_datetime(df["publish_time"])
df["post_time"].dtype

datetime64[ns, UTC]

In [10]:
df[["trend_day", "post_time"]].head()

   trend_day                 post_time
0 2017-11-14 2017-11-13 17:13:01+00:00
1 2017-11-14 2017-11-13 07:30:00+00:00
2 2017-11-14 2017-11-12 19:05:24+00:00
3 2017-11-14 2017-11-13 11:00:04+00:00
4 2017-11-14 2017-11-12 18:01:41+00:00

In [12]:
df.drop(columns=['trending_date', 'publish_time']).columns

Index(['video_id', 'title', 'channel_title', 'category_id', 'tags', 'views',
       'likes', 'dislikes', 'comment_count', 'thumbnail_link',
       'comments_disabled', 'ratings_disabled', 'video_error_or_removed',
       'description', 'trend_day', 'post_time'],
      dtype='object')

In [15]:
col_sel = ['video_id', 'title', 'tags', 'views', 'trend_day', 'post_time']
df[col_sel].groupby(['video_id']).max().head(3)

,title,tags,views,trend_day,post_time
video_id,,,,,
-0CMnp02rNY,Mindy Kaling's Daughter Had the Perfect Reacti...,"ellen|""ellen degeneres""|""the ellen show""|""elle...",800359,2018-06-11,2018-06-04 13:00:00+00:00
-0NYY8cqdiQ,Megan Mullally Didn't Notice the Interesting P...,"megan mullally|""megan""|""mullally""|""will and gr...",563746,2018-02-01,2018-01-29 14:00:39+00:00
-1Hm41N0dUs,Cast of Avengers: Infinity War Draws Their Cha...,"jimmy|""jimmy kimmel""|""jimmy kimmel live""|""late...",2058516,2018-05-01,2018-04-27 07:30:02+00:00

In [21]:
df[col_sel].groupby(['video_id']).max().shape

(6351, 5)

In [22]:
agg_dict = {'title' : 'max', 'tags' : 'max', 'views' : 'max',
            'trend_day' : 'max', 'post_time' : 'max'}
df[col_sel].groupby(['video_id']).agg(agg_dict).shape

(6351, 5)

In [41]:
# df[['video_id', 'views']].groupby(['video_id']).min()
min_map = df[['video_id', 'views']].groupby(['video_id']).min().iloc[:,0] # pd series
# df["views_initial"] = df[['video_id', 'views']].groupby(['video_id']).min()
df["views_initial"] = df["video_id"].map(min_map)
df[df["video_id"] == "2kyS6SvSYSE"].head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,trend_day,post_time,views_initial
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,2017-11-14,2017-11-13 17:13:01+00:00,748374
217,2kyS6SvSYSE,17.15.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,2188590,88099,7150,24225,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,2017-11-15,2017-11-13 17:13:01+00:00,748374
448,2kyS6SvSYSE,17.16.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,2325233,91111,7543,21450,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,2017-11-16,2017-11-13 17:13:01+00:00,748374

In [54]:
day_max = df[['video_id', 'trend_day']].groupby(['video_id']).max().iloc[:,0]
day_min = df[['video_id', 'trend_day']].groupby(['video_id']).min().iloc[:,0]
delta_map = day_max - day_min + datetime.timedelta(days=1)
df["days_trending"] = df["video_id"].map(delta_map)
df[df["video_id"] == "2kyS6SvSYSE"].head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,trend_day,post_time,views_initial,days_trending
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,2017-11-14,2017-11-13 17:13:01+00:00,748374,7 days
217,2kyS6SvSYSE,17.15.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,2188590,88099,7150,24225,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,2017-11-15,2017-11-13 17:13:01+00:00,748374,7 days
448,2kyS6SvSYSE,17.16.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,2325233,91111,7543,21450,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,2017-11-16,2017-11-13 17:13:01+00:00,748374,7 days

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 20 columns):
video_id                  40949 non-null object
trending_date             40949 non-null object
title                     40949 non-null object
channel_title             40949 non-null object
category_id               40949 non-null int64
publish_time              40949 non-null object
tags                      40949 non-null object
views                     40949 non-null int64
likes                     40949 non-null int64
dislikes                  40949 non-null int64
comment_count             40949 non-null int64
thumbnail_link            40949 non-null object
comments_disabled         40949 non-null bool
ratings_disabled          40949 non-null bool
video_error_or_removed    40949 non-null bool
description               40379 non-null object
trend_day                 40949 non-null datetime64[ns]
post_time                 40949 non-null datetime64[ns, UTC]
views_initial             40949 non-null int64
days_trending             40949 non-null timedelta64[ns]
dtypes: bool(3), datetime64[ns, UTC](1), datetime64[ns](1), int64(6), object(8), timedelta64[ns](1)
memory usage: 5.4+ MB