# EDA to format the datetime columns

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import datetime

In [3]:
df = pd.read_csv("../../data/trends/USvideos.csv")
df.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...

In [21]:
# pd.to_datetime(df["trending_date"], infer_datetime_format=True).head()
pd.to_datetime(df["trending_date"], format="%y.%d.%m").unique()[:5]

array(['2017-11-14T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
       '2017-11-18T00:00:00.000000000'], dtype='datetime64[ns]')

In [31]:
df["trend_day"] = pd.to_datetime(df["trending_date"], format="%y.%d.%m")
df_view = pd.DataFrame(df["trend_day"].unique())
df_view.sort_values(0, ascending=False).head(3)

             0
204 2018-06-14
203 2018-06-13
202 2018-06-12

In [32]:
df_view.sort_values(0, ascending=True).head(3)

           0
0 2017-11-14
1 2017-11-15
2 2017-11-16

In [33]:
# pd.to_datetime(df["publish_time"], infer_datetime_format=True).unique()[:5]
pd.to_datetime(df["publish_time"]).unique()[:5]

<DatetimeArray>
['2017-11-13 17:13:01+00:00', '2017-11-13 07:30:00+00:00',
 '2017-11-12 19:05:24+00:00', '2017-11-13 11:00:04+00:00',
 '2017-11-12 18:01:41+00:00']
Length: 5, dtype: datetime64[ns, UTC]

In [34]:
df["publish_time"].dtype

dtype('O')

In [35]:
df["trend_day"].dtype

dtype('<M8[ns]')

In [36]:
df["post_time"] = pd.to_datetime(df["publish_time"])
df["post_time"].dtype

datetime64[ns, UTC]

In [37]:
df[["trend_day", "post_time"]].head()

   trend_day                 post_time
0 2017-11-14 2017-11-13 17:13:01+00:00
1 2017-11-14 2017-11-13 07:30:00+00:00
2 2017-11-14 2017-11-12 19:05:24+00:00
3 2017-11-14 2017-11-13 11:00:04+00:00
4 2017-11-14 2017-11-12 18:01:41+00:00