# YouTube Trending Video EDA CSV

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("../../data/trends/USvideos.csv")
df.head(3)

In [ ]:
df.info()

In [ ]:
df[df["description"].apply(lambda x: pd.isna(x))].head(3)

In [ ]:
df["description"] = df["description"].fillna(value="")

In [ ]:
df["trending_date"].sort_values().head(3)

In [ ]:
df["trending_date"].sort_values(ascending=False).head(3)

Sorting "trending_date" with sort_values is not giving earliest and latest days as desired because format is year.day.month. Was able to use output from df["trending_date"].unique() to find earliest and latest days

In [ ]:
df["trending_date"].unique().size

# '17.14.11' is earliest day. '18.14.06' is latest day.  
11/14/2017 --- 6/14/2018  Using time calculator: 213 days (7months)  
213-205=8 This means that 8 days are missing trending video data. (Given "trending_date" size above)

In [ ]:
df["video_id"].unique().size

# Videos appear multiple times. 6351 videos. 40949 rows

In [ ]:
df.describe()

In [ ]:
df["views"].sort_values(ascending=False).head()

# View count range suprisingly large 549 - 225,211,923

In [ ]:
df.describe(include = ['O'])

# 6055 / 6351 unique tags to unique videos  
# The tag data has good variety and usefulness

In [ ]:
df["tags"].unique()[25:30]

In [ ]:
df.corr()

Viewcount is understandably corellated to likes (0.849), dislikes (0.472), and comment count (0.618)

In [ ]:
np.sort(df["category_id"].unique())

In [54]:
# tags_list = df['tags'].str.replace('"', '').str.split('|')
tags_list = pd.Series(df['tags'].str.replace('"', '').str.split('|'))
# df['tags_count'] = pd.series(tags_list).value_counts
# df['tags'].str.replace('"', '').str.split('|')[10][-15:]
# pd.concat(tags_list)
tags_list.value_counts().head(3)

[[none]]                                                                                                                                                                                                                                                                                                                                                                                                                1535
[ABC, americanidol, idol, american idol, ryan, seacrest, ryan seacrest, katy, perry, katy perry, luke, bryan, luke bryan, lionel, richie, lionel richie, season 16, american idol XVI, television, ad, spring, 2018, music, reality, competition, song, sing, audition, auditions, performance, live, fox, AI, hollywood, contestant, official, american, official american idol, hollywood week, hometown audition]      87
[Jacksfilms, Jack Douglass, YGS, YGS 100, YGS 50, The Best of Your Grammar Sucks, Your Grammar Sucks, YIAY, Yesterday I Asked You, Fidget Spinners, Emoji Movie, Kermit Sings, JackAsk, Jack Ask, Dubstep Solves Everything, Frozen 2, iPhone Parody, Apple Parody]                                                                                                                                                       80
Name: tags, dtype: int64

In [ ]:
dfsel = df.groupby(['video_id']).max().copy()
dfsel.head()

In [71]:
tags_sel = pd.Series(dfsel['tags'].str.replace('"', '').str.split('|'))
flatten_matrix = [val for sublist in tags_sel for val in sublist]
# list_all = []
# [[list_all.append(tag) for tag in t_list] for t_list in tags_sel]
# len(list_all)
len(flatten_matrix)
# flatten_matrix[:9]

126729

In [81]:
pd.Series(flatten_matrix).unique().size

56506

In [84]:
# list_for_count = 
dfsel['tags_count'] = tags_sel.apply(lambda x: len(x))
# len(dfsel['tags'])
dfsel[['tags', 'tags_count']].head()

                                                          tags  tags_count
video_id
-0CMnp02rNY  ellen|"ellen degeneres"|"the ellen show"|"elle...          33
-0NYY8cqdiQ  megan mullally|"megan"|"mullally"|"will and gr...          33
-1Hm41N0dUs  jimmy|"jimmy kimmel"|"jimmy kimmel live"|"late...          23
-1yT-K3c6YI  youtube quiz|"youtuber quiz"|"truth or dare"|"...           8
-2RVw2_QyxQ                         Chess|"Saint Louis"|"Club"           3

In [107]:
# dfsel[dfsel['tags'] == "[none]"].shape
# dfsel.loc[:, 'tags_count'][dfsel['tags'] == "[none]"] = 0
dfsel.loc[dfsel['tags'] == "[none]", ['tags_count']] = 0
# dfsel[['tags', 'tags_count']]